$primery_normal: #06121e;
$primery_dark: #040f1a;
$primery_light: #0c2135;

$secondery_normal: #090d11;
$secondery_dark: #06090c;
$secondery_light: #1a1f25;

$black_normal: #232224;
$black_dark: #161617;
$black_light: #353436;

$white_normal: #ffffff;
$white_dark: #edeaef;
$white_light: #fefbff;

$red_normal: #d94140;
$red_dark: #b42b2b;
$red_light: #d34040;